      <%= form_for :transport, url: transports_path do |f| %>
        <fieldset>
          <h1 class="text-center">Transport Form</h1>

          <div class="form-group">
            <label class="col-md-4 control-label" for="role">Air or land transport?</label>
            <div class="col-md-8">
              <%= f.select :role, [["Air", "Air"], ["Land", "Land"], ["Ocean", "Ocean"]], class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">What type of vehicle?</label>
            <div class="col-md-8">
              <%= f.text_field :name, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="hub">Main hub/ point of origin</label>
            <div class="col-md-8">
              <%= f.text_field :hub, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="range">Range</label>
            <div class="col-md-8">
              <%= f.text_field :range, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="capacity">Capacity</label>
            <div class="col-md-8">
              <%= f.text_field :capacity, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="avaliabilty">Avaliability</label>
            <div class="col-md-8">
              <%= f.text_field :avaliability, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="avaliabilty">Price</label>
            <div class="col-md-8">
              <%= f.text_field :funding, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.submit "Submit", class: "btn btn-success" %>
            </div>
          </div>
          
        </fieldset>
      <% end %>