
<div class="container">
  <h2>Donated Cargo</h2>
</div>

<div class="info container">
  <div class="row">
    <% @cargos.each do |d| %>
        <div class="col-md-4">
        <h3>Item: <%= d.goods %></h3>
        <p>Address: <%= d.address %></p>
        <p>City: <%= d.city %></p>
        <p>State: <%= d.state %></p>
        <p>Quantity: <%= d.quantity %></p>
        <p>Weight: <%= d.weight %></p>
        <p>Size: <%= d.size %></p>
        <p>Needs Shiping: <%= d.shipping %></p>
        <p>Needs Funding: <%= d.funding %></p>
      </div>
    <% end %>
  </div>
</div>