      <%= form_for :warehouse, url: warehouses_path do |f| %>
        <fieldset>
          <h1 class="text-center">Warehouse Form</h1>

          <div class="form-group">
            <label class="col-md-4 control-label" for="location">Location</label>
            <div class="col-md-8">
              <%= f.text_field :location, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="capacity">Capacity</label>
            <div class="col-md-8">
              <%= f.text_field :capacity, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="avaliabilty">Avaliability</label>
            <div class="col-md-8">
              <%= f.text_field :avaliability, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="avaliabilty">Price</label>
            <div class="col-md-8">
              <%= f.text_field :funding, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.submit "Submit", class: "btn btn-success" %>
            </div>
          </div>
          
        </fieldset>
      <% end %>