<!DOCTYPE html>
<html>
  <head>
    <title>PrMariaLogistics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- NAVBAR -->

  <div class="container" id="center-content">
  <br>
    <nav class="navbar navbar-default ">
  
        <ul class="navbar-text">

          <% if current_user %>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Log Out", logout_path %></li>
          <% else %>
              <li><%= link_to "Signup", new_user_path %></li>
              <li><%= link_to "Log In", login_path %></li>
          <% end %>     
        </ul>

    </nav>
  </div>
  <br>
  <div>
    <% flash.each do |name, msg| %>
      <div id="flash_messages">
      <br>
        <div class="alert alert-info" role="alert">
          <%= msg %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="outer">
    <%= yield %>
  </div>
</html>
